{% extends "base.html" %}

{% block content %}

{% for blog in blogs %}
  <div class= 'post'>
    <a href="/blog/{{ blog.key().id() }}">
      <div class = 'blog-title'>{{ blog.title }}</div>
    </a>
    <div class = 'blog-content'><p>{{ blog.blog_post }}</p></div>
  </div>
{% endfor %}

<div class='page-buttons'>
{% if offset > 0 %}
  <a href="/blog?page={{ page-1 }}">&lt; Prev</a>
{% endif %}

{% if blogs.count(offset=offset+limit, limit=limit) >0  %}
  <a href ="/blog?page={{ page+1 }}">Next &gt;</a>
{% endif %}
</div>

{% endblock %}
